header{
    background-color: rgb(45, 122, 216);
    background-image: url("../img/pattern.png");
    background-size: 400px;
    margin: 0px;
    border: 0px;
    padding-top: 40px;
}

header img{
    height: 60px;
    margin-left: 10px;
}

body{
    margin: 0px;
}

main{
    margin: 8px;
}

.titolo h1, .titolo h4, .titolo h5{
    margin: 4px;
}

.titolo h4, .titolo h5{
    color: grey;
}

.foto span{
    font-size: 12px;;
}