header{
    background-color: rgb(45, 122, 216);
    background-image: url("../img/pattern.png");
    background-size: 400px;
    margin: 0px;
    border: 0px;
    padding-top: 40px;
}

header img{
    height: 60px;
    margin-left: 10px;
}

body{
    margin: 0px;
}

main{
    margin: 8px;
}

.titolo h1, .titolo h4, .titolo h5{
    margin: 4px;
}

.titolo h4, .titolo h5{
    color: grey;
}

.foto span{
    font-size: 12px;;
}

.paragrafo-iniziale span{
    background-color: yellow;
}

.elenco ul{
    padding-left: 16px;
}

.tabella .blue{
    background-color: rgb(30, 169, 207);
}

.tabella thead tr{
    background-color: rgb(12, 81, 138);
    color: whitesmoke;
}

table {
    border-collapse: collapse;
}

#colonna-1{
    width: 300px;
    text-align: left;
}

#colonna-2{
    width: 300px;
    text-align: left;
}

#colonna-3{
    width: 550px;
    text-align: left;
}